.password-box {
    position: relative;
}

.toggle-btn {
    
    position: absolute;
    right: 10px;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    font-size: 18px;
}